<div>

    <div class="con">
        <h1 class="greetText">Greeting</h1>

        <form action="/greetings" method="POST">
            <p>Enter Name:</p>
            <label for="name">
                <input type="text" name="name" id="name">


            </label>
            <p class="greeting">{{greetUser}}</p>
            <p class="error1">{{messages}}</p>

            <script>
                setTimeout(function () {
                    document.querySelector(".error1").remove();
                }, 3000)

            </script>
            <script>  setTimeout(function () {
                    document.querySelector(".error1").remove();
                }, 3000)
            </script>


            <p>Counter:{{counter}}</p> <a href="/greeted">Greeted names:</a>
            <div></div>
            <div class="radioGroup">
                <label class="">
                    <input type="radio" name="languageRadio" class="languageRadio" value="english">
                    <span class="label-body">English</span>
                </label>
                <label class="">
                    <input type="radio" name="languageRadio" class="languageRadio" value="isixhosa">
                    <span class="label-body">Isixhosa</span>
                </label>
                <label class="">
                    <input type="radio" name="languageRadio" class="languageRadio" value="sepedi">
                    <span class="label-body">Sepedi</span>
                </label>
            </div>

            <div class="buttons">

                <button type="submit">Greet</button>
                <button type="submit" formaction="/reset"
                    onclick="return confirm('Are you sure you want to reset?')">Reset</button>
            </div>

        </form>



    </div>

</div>